.bungalow {
  width: '100vw';
  height: '100vh';
  position: 'absolute';
  display: 'flex';
  flex-direction: 'column';
  padding-top: 10px;
}
.bungalow_header {
  width: 100vw;
  background-color: black;
  height: 30px;
  margin-top: 60px;
}
.imgContainerr {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right-arrow {
  position: absolute;
  top: 45%;
  right: 50px;
  font-size: 3rem;
  color: #000;
  z-index: 10000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 50px;
  font-size: 3rem;
  color: #000;
  z-index: 10000;
  cursor: pointer;
  user-select: none;
}

.arrow {
  display: none;
}

.imgs {
  width: 380px;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  
}
.imgs:hover {
  transform: scale(1.1);
}

.modalImgArray {
  width: 80vw;
}
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 1100px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

@media screen and (max-width: 361px) {
  .modalImgArray {
  width: 70vw;
  height: auto;
}
.imgs {
  width: 280px;
  height: 190px;
  margin-left: 0;
}
}

@media screen and (orientation: landscape) {
  .modalImgArray {
  width: 70vw;
  /* height: 80vh; */
}
.imgs {
  width: 380px;
  height: 250px;
}
}
