.navbar {
  display: flex;
  width: 100%;
  height: 50vh;
  z-index: 999;
  position: absolute;
  font-family: 'PT Serif', serif;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  text-decoration: none;
  width: 100%;
  height: 3vh;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  width: 35%;
  margin-right: 20px;
  color: #000;
}
.nav-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 10px;
  justify-content: space-between;
  height: 3vh;
}
.nav-item {
  padding-right: 10px;
  align-items: center;
  /* font-style: 1.3rem; */
  font-weight: bold;
  font-size: larger;
  opacity: 0.7;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 80vw;
}
.navbar-logo {
  text-decoration: none;
  font-size: 23px;
  color: #000;
  align-items: center;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Akaya Kanadaka', cursive; */
  /* padding-right: 0px; */
  
}
.logo {
  /* height: 40px; */
  width: 120px;
  margin-top: -5px;
  margin-left: 0;
  /* align-items: center; */
  object-fit: contain;

}
.SiHomeassistant {
  margin-left: 0.5 rem;
  font-style: 1.3rem;
}
.nav-item:hover {
  transform: scale(1.15);
}
.FaBars, .FaTimes {
  display: none;
}

@media screen and (max-width: 960px) {
  .FaBars, .FaTimes {
    display: block;
    justify-content: flex-end;
    margin-right: 20px;
    font-style: 1.4rem;
  }
  .nav-logo {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100vw;
    height: 3vh;
  }
  .menu-icon {
    display: grid;
    grid-gap: 8px;
  }
  .nav-item {
    padding: 1px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    height: 80px;
    /* width: 80vw; */
    background-color: #000;
  }
  .nav-item:hover {
    transform: scale(1.15);
    transition: 0.5s;
  }
  .nav-menu {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    left: -1000px;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    transition: 1s;
    background: transparent;
    height: 30vh;
    top: 8vh;
    border: 20px;
    margin-top: 60px;
    border-width: 80vw;
    text-decoration: none;
    flex: 1;
  }
  .nav-link{
    color: #fff;
  }
  .navbar-logo{
    padding: 10px;
    height: 3vh;
    margin-top: -7px;
  }
}
